.button3 {
    background-color: #8533ff;
    border: none;
    color: #66ffcc;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #8533ff;
    border: none;
    color: #66ffcc;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    background-color: #8533ff;
    border: none;
    color: #66ffcc;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    background: rgb(0, 250, 62);
    background: linear-gradient(90deg, rgba(0, 250, 62, 1) 0%, rgba(6, 240, 233, 1) 50%, rgba(255, 0, 249, 1) 100%);
    background-size: cover;
    text-align: center;
    padding: 0em;
    color: #000000;
}

#div2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: smaller;
}

#bodyham {
    padding: 0em;
    color: #000000;
    text-align: center;
    background: rgb(0, 250, 62);
    background: linear-gradient(90deg, rgba(0, 250, 62, 1) 0%, rgba(6, 240, 233, 1) 50%, rgba(255, 0, 249, 1) 100%);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}