.button3 {
    background-color: #8533ff;
    border: none;
    color: #66ffcc;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #8533ff;
    border: none;
    color: #66ffcc;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button {
    background-color: #8533ff;
    border: none;
    color: #66ffcc;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    background: rgb(0, 250, 62);
    background: linear-gradient(90deg, rgba(0, 250, 62, 1) 0%, rgba(6, 240, 233, 1) 50%, rgba(255, 0, 249, 1) 100%);
    background-size: cover;
    text-align: center;
    padding: 0em;
    color: #000000;
}

#div2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: xx-small;
}

#bodyham {
    padding: 0em;
    color: #000000;
    text-align: center;
    background: rgb(0, 250, 62);
    background: linear-gradient(90deg, rgba(0, 250, 62, 1) 0%, rgba(6, 240, 233, 1) 50%, rgba(255, 0, 249, 1) 100%);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

#div3 {
    font: small;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.button3 {
    box-shadow: inset 0px -50px 50px 50px #f42bff;
    background: linear-gradient(to bottom, #c52ef7 5%, #ca08fa 100%);
    background-color: #c52ef7;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Impact;
    font-size: 18px;
    font-style: italic;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: 0px -3px 0px #263666;
    text-align: left;
}

.button3:hover {
    background: linear-gradient(to bottom, #ca08fa 5%, #c52ef7 100%);
    background-color: #ca08fa;
}

.button3:active {
    position: relative;
    top: 1px;
}