        #navbar {
            background:transparent;
            width: 70%;
            height: 3rem;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 10px;
            float: left;
            background-size: fill;
            text-decoration: none;
        }
        
        #navlogo {
            height: 2.36rem;
            transition: background-color 0.2s;
            padding: 5px;
            float: right;
        }
        
        
        
        #navbar>ul>a {
            float: right;
            display: block;
            background:transparent;
            color: #eaeaea;
            font-family: Roboto, Ariel;
            text-align: center;
            padding-top: 0.9rem;
            width: 150px;
            height: 2.1rem;
            transition: background-color 0.2s;
        }
        /**/

        
        #navbar>ul>a:hover {
            background:transparent
        }
        
        a {
            color: #ececec;
            text-decoration: none;
        }
        
        #HomeButton {
            text-align: left;
            text-decoration: none;
        }
        
        #ReleasesButton {
            text-decoration: none;
        }
        
        #FAQ {
            text-decoration: none;
        }

